# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: CC0-1.0

.classpath
.settings/
.project
.idea/
build/
bin/
.DS_Store
lib/

data/mailboxd/
redolog/
/home/
