version: "3.9"

services:
  openldap:
    build:
      context: ./../../
      dockerfile: docker/standalone/openldap/Dockerfile
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: nc -z localhost 1389 || exit 1
      timeout: 10s
    ports:
      - "1389:1389"
    ulimits:
     nofile:
       soft: 65536
       hard: 65536
     nproc:
       soft: 65535
       hard: 65535
    volumes:
      - ldap_data:/opt/zextras
      - ./../../store/ldap/generated:/opt/zextras/common/etc/openldap/zimbra/
      - ./openldap/entrypoint.sh:/entrypoint.sh
      - ./openldap/ldap-utils/:/ldap-utils
volumes:
  ldap_data:
