version: "3.9"

services:
  mailbox1:
    depends_on:
      openldap:
        condition: service_healthy
      postfix:
        condition: service_healthy
    build:
      context: ./../../
      dockerfile: docker/standalone/mailbox/Dockerfile
    hostname: mailbox1.demo.zextras.io
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: netcat -z localhost 8080 || exit 1
      timeout: 10s
    ports:
      - "5005:5005"
  mailbox2:
    environment:
      - SERVER_HOSTNAME=mailbox2.demo.zextras.io
    depends_on:
      openldap:
        condition: service_healthy
      postfix:
        condition: service_healthy
    build:
      context: ./../../
      dockerfile: docker/standalone/mailbox/Dockerfile
    hostname: mailbox2.demo.zextras.io
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: netcat -z localhost 8080 || exit 1
      timeout: 10s
    ports:
      - "5006:5005"
  openldap:
    build:
      context: ./../../
      dockerfile: docker/standalone/openldap/Dockerfile
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: nc -z localhost 1389 || exit 1
      timeout: 10s
    ports:
      - "1389:1389"
    volumes:
      - ./openldap/ldap-utils/add_mailbox_2.ldif:/opt/zextras/ldap/custom-ldifs/add_mailbox_2.ldif
  mariadb:
    build:
      context: ./../../
      dockerfile: docker/standalone/mariadb/Dockerfile
    ports:
      - "3306:3306"
  webui:
    depends_on:
      - mailbox1
      - mailbox2
    build:
      dockerfile: webui/Dockerfile
    ports:
      - "443:443"
      - "6071:6071"
      - "993:993"
      - "143:143"
    volumes:
      - ./webui/mailbox_upstream.conf:/etc/nginx/conf.d/mailbox_upstream.conf
  postfix:
    depends_on:
      openldap:
        condition: service_healthy
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: netcat -z localhost 25 || exit 1
      timeout: 10s
    build:
      context: ./../../
      dockerfile: docker/standalone/postfix/Dockerfile
    ports:
      - "20025:25"
