version: "3.9"

services:
  mailbox1:
    depends_on:
      openldap:
        condition: service_healthy
      postfix:
        condition: service_healthy
    build:
      context: ./../../
      dockerfile: docker/standalone/mailbox/Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailbox.rule=Host(`mailbox.local`)"
      - "traefik.http.services.mailbox.loadbalancer.server.port=8080"
      - "traefik.http.services.mailbox.loadbalancer.server.scheme=http"
    hostname: mailbox1.demo.zextras.io
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: curl --fail --silent localhost:8080/service/health/ready || exit 1
      timeout: 10s
    ports:
      - "5005:5005"
  mailbox2:
    depends_on:
      openldap:
        condition: service_healthy
      postfix:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailbox.rule=Host(`mailbox.local`)"
      - "traefik.http.services.mailbox.loadbalancer.server.port=8080"
      - "traefik.http.services.mailbox.loadbalancer.server.scheme=http"
    build:
      context: ./../../
      dockerfile: docker/standalone/mailbox/Dockerfile
    hostname: mailbox2.demo.zextras.io
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: curl --fail --silent localhost:8080/service/health/ready || exit 1
      timeout: 10s
    ports:
      - "5006:5005"
  openldap:
    build:
      context: ./../../
      dockerfile: docker/standalone/openldap/Dockerfile
    restart: on-failure
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: nc -z localhost 1389 || exit 1
      timeout: 10s
    ulimits:
     nofile:
       soft: 65536
       hard: 65536
     nproc:
       soft: 65535
       hard: 65535
  mariadb:
    build:
      context: ./../../
      dockerfile: docker/standalone/mariadb/Dockerfile
    ports:
      - "3306:3306"
  webui:
    depends_on:
      - mailbox1
      - mailbox2
    build:
      dockerfile: webui/Dockerfile
    ports:
      - "443:443"
      - "6071:6071"
      - "993:993"
      - "143:143"
  postfix:
    depends_on:
      openldap:
        condition: service_healthy
    healthcheck:
      interval: 60s
      retries: 10
      start_period: 20s
      test: netcat -z localhost 25 || exit 1
      timeout: 10s
    build:
      context: ./../../
      dockerfile: docker/standalone/postfix/Dockerfile
    ports:
      - "20025:25"
  traefik:
    image: "traefik:v3.4"
    container_name: "traefik"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
    # curl -H "Host: mailbox.local" localhost to load balance to mailbox
    # From another container: curl mailbox.local will  send the request to traefik, which will load balance to mailbox1 and 2 containers
    # Example: curl mailbox.local/service/health/ returns a json with the health status of the container
    ports:
      - "80:80"
      - "8080:8080"
      - "1389:1389"
    networks:
      default:
        aliases:
          - mailbox.local
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
