name: Start RC

on: workflow_dispatch

jobs:
  create-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: devel

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create a new branch
        run: |
          NEW_BRANCH="rc"
          git checkout -b "$NEW_BRANCH"
          git push origin "$NEW_BRANCH"